<?xml version="1.0" encoding="utf-8"?>
<!--
  Created by Carlos Yaconi
  Copyright 2012 Fork Ltd. All rights reserved.
  License: GPLv3
  Full license at "/LICENSE"
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prey"
    android:installLocation="internalOnly"
    android:versionCode="100"
    android:versionName="1.2.4" >

    
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.prey.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.prey.permission.C2D_MESSAGE" />

    
     
     
     
    <application
        android:name="com.prey.PreyApp"
        android:icon="@drawable/logo"
        android:label="@string/preyForAndroid_name"
        android:theme="@style/PreyTheme"
        android:configChanges="keyboardHidden|orientation"
		android:screenOrientation="portrait"
		android:allowBackup="false" >


        <!-- Activities -->
        <activity
            android:name="com.prey.activities.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/preyForAndroid_name"
            android:launchMode="singleInstance" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
   
        <!-- Only C2DM servers can send messages for the app. If permission is not set - any other app can generate it -->
        <receiver android:name="com.prey.receivers.C2DMReceiver" android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.prey" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.prey" />
            </intent-filter>
        </receiver>
        
         <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>
